.h2{
    font-family: Noto Sans JP,sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 3.2rem;
    color: #040404;
    display: inline-block;
    font-size: 1.6rem;

}
.wrapper{
    text-align: center;
    margin: 16rem 0 auto;
    max-width: 100%;
}