.morebtn{
    color: #fff;
    background-color: #94233E;
    border-radius: 32px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
    font-family: Noto Sans JP, sans-serif;
    margin: 80px auto 0px;
    transition: 0.2s;
    display: block;
    width: fit-content;
    border: 2px solid #fff;
}
.morebtn:hover{
    transition: 0.3s;
    box-shadow: none;
    background-color: #FFF;
    color: #94233E;
    border: 2px solid #94233E;
}
.container{
    height: fit-content;
    padding-top: 175px;
    font-family: Noto Sans JP, sans-serif;
}
.allnews_h1{
    font-size: 40px;
    margin-bottom: 16px;
}
.allnews_h2{
    font-size: 24px;
    color: #040404;
    padding-left: 40px;
}
.allnews_p{
    font-size: 16px;
    margin-bottom: 24px;
}
.allnews_para{
    color: #040404;
    font-size: 12px;
    margin-top: 8px;
}
.allnews_aside{
    padding: 12px;
    font-size: 10px;
    color: #fff;
    background-color: #94233E;
    // border-radius: 0 0 20px 20px;
    text-align: center;
}
.allnews_head{
    width: 964px;
    margin: 80px auto 0px;
}
.allnews_container{
    width: 964px;
    height: fit-content;
    padding:40px 0 40px;
    margin: 0px auto 80px;
}
.allnews_list{
    transition: 0.2s;
    width: 300px;
    font-family: Noto Sans JP, sans-serif;
    margin:0  0 80px;
    overflow: hidden;
}
.allnews_list:hover{
    background-color: #FFFFED;
    opacity: 0.5;
    transition: 0.3s;
}
.allnews_link{
    text-decoration: none;
}
.allnews_boxx{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}
.allnews_boxx::after{
    content:"";
    display: block;
    width:31.2%;
  }
img{
    display: block;
}
hr{
    margin: 0;
}
.allnews_img{
    width: 300px;
    height: 160px;
    object-fit: cover;
    box-sizing: border-box;
    background-color: #fff;
    transition: 0.3s;
    // border-radius: 20px 20px 0 0;
}
.allnews_img img{
    transition: 0.3s;
}
.allnews_img img:hover{
    transform: scale(1.1);
    transition: 0.3s all;
}
.arrow{
    position: relative;
    display: inline-block;
    // padding: 0 0 0 24px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    // margin-left: 12px;
}
.arrow::before{
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #d9d9d9;
    margin: 6px 0;
}
.arrow::after{
    left: 5px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #040404;
    border-right: 2px solid #040404;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 8px;
}
.background{
    background-color: #FFFFED;
}
@media (max-width:1018px){
    .container{
        padding-top: 80px;
        height: fit-content;
    }
    .allnews_h1{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .allnews_h2{
        font-size: 16px;
    }
    .allnews_p{
        font-size: 16px;
        margin-bottom: 24px;
    }
    .arrow::before{
        margin: 1px 0;
    }
    .allnews_head{
        width: 80%;
    }
    .allnews_container{
        width: 80%;
        margin: 0px auto 80px;
        padding: 0;
    }
    .allnews_list{
        margin: 40px auto 24px;
        padding: 0;
    }
    .allnews_box{
        margin: auto;
    }
    .allnews_boxx::after{
        content:"";
        display: block;
        width:50%;
      }
    .arrow::after{
        left: 6px;
    }
    .arrow::before{
        width: 24px;
        height: 24px;
    }
};