.Contactbutton_container{
    width: 100%;
    text-align: center;
}
.contactbutton{
    color: #fff;
    background-color: #94233E;
    text-decoration: none;
    font-family: Noto Sans JP,sans-serif;
    font-weight: bold;
    width: 400px;
    height: 80px;
    display: block;
    border-radius: 20px;
    padding-top: 24px;
    font-size: 24px;
    transition: 0.3s;
}
.contactbutton:hover{
    background-color: #7A1D33;
    transition: 0.2s;
}
.contactbutton:not(:first-child){
    margin-left: 32px;
}
.contactbutton_flex{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.contact_logo{
    width: max-content;
    display:inline-block;
    vertical-align: text-bottom;
    padding-left: 8px;
}
.contactbutton_p{
    font-size: 24px;
    font-family: Noto sans JP,sans-serif;
    color: #040404;
    padding-top: 80px;
}
.contactbutton_top{
    text-decoration: none;
    color: #fff;
    background-color: #94233E;
    width: 64px;
    height: 64px;
    position: fixed;
    border-radius: 64px;    
    bottom: 120px;
    right: 72px;
    padding: 20px 14px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    z-index: 100;
    border: solid 1px #fff;
}
.contactbutton_top:hover{
    background-color: #7A1D33;
}
@media (max-width:1199px){
    .contactbutton_flex{
        display: block;
    }
    .contactbutton{
        width: 240px;
        margin: 24px auto;
        font-size: 16px;
        border-radius: 40px;
    }
    .contactbutton:not(:first-child){
        margin:24px auto;
    }
    .contactbutton_p{
        font-size: 16px;
        padding: 40px 64px 0 64px;
    }
    .contactbutton_top{
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 20px;
        right: 32px;
        padding: 6px;
    }
}