footer{
    width: 100%;
    background-color: #94233E;
    position: relative;
    height: auto;
    margin-top: 160px;
}
small{
    font-family: Noto Sans JP,sans-serif;
    color: #fff;
}
.copyright{
    text-align: center;
    margin-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: 0.6rem;
}
.container h3{
    color: #fff;
    font-size: 0.8rem;
    padding-top: 40px;
}
.container{
    font-family: Noto Serif JP,sans-serif;
    color: #fff;
    width: 36%;
    margin: 0 auto;
    max-width: 1000px;
}
.flogo{
    position: absolute;
    top: 390px;
    left: 16rem;
    right: 0;
    bottom: 0;
    display: block;
    margin: 2rem auto;
    width: 124px;
}
.fcontact{
    font-size: 0.6rem;
    text-decoration: none;
    color: #fff;
}
.footer_link{
    text-decoration: none;
}
.footer_list:hover{
    color: #FFEF5C;
}
.footer_list{
    list-style:none;
    color: #fff;
    padding: 4px 0 4px 0;
    font-size: 16px;
}
ul{
    padding: 40px 20px 0;
    margin: 0;
}
.footer_list::before {
  position: relative;
  top: -2px;
  left: -18px;
 
  display: inline-block;
 
  width: 3px;
  height: 3px;
 
  content: '';
 
  border-radius: 100%;
  background: #fff;
}
@media (max-width:1199px){
    footer{
        height: fit-content;
    }
    .flogo{
        width: 56px;
        margin: 96px auto;
    }
    .container{
        width: 80%;
    }
    .container h3{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .fcontact{
        font-size: 12px;
    }
    small{
        display: block;
    }
    .copyright{
        font-size: 8px;
        margin-top: 56px;
    }
}
