.Gcontainer{
    height: 464px;
    width: 100%;
    background-color: #FFFFED;
    position: relative;
}
.inchoImage{
    display: block;
    width: 160px;
    height: auto;
    margin-left: 80px;
}
.Gh1{
    font-family: Noto Serif JP,sans-serif;
    font-size: 40px;
    padding-top: 80px;
}
.pagehead{
    width: fit-content;
    display: flex;
    position: absolute;
    top: 176px;
    right: 0;
    left: 0;
    margin: 34px auto 0 32%;
    justify-content: space-around;
}
.greetingText{
    max-width: 900px;
    width: 720px;
    margin: 0 auto;
    color: #040404;
}
.Gh2{
    font-family: Noto sans JP,sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 80px;
}
.textContainer{
    font-family: Noto Serif JP,sans-serif;
    font-size: 16px;
    text-align: left;
}
.textContainer aside{
    font-weight: bold;
    margin: 32px 0 32px;
}
.textContainer P{
    margin-bottom: 40px;
    line-height: 32px;
    font-size: 16px;
}
//meaning scss
.syusidog_image{
    display: block;
    margin-top: 32px;
    margin-left: 64px;
}
.Gh22{
    margin-top: 80px;
    margin-bottom: 32px;
}
@media (max-width:1199px){
    .inchoImage{
        margin-left: 24px;
        width: 124px;
    }
    .pagehead{
        width: 100vw;
        margin: 0;
        justify-content:center;
        top: 129px;
    }
    .Gcontainer{
        height: 336px;
    }
    .Gh1{
        font-size: 24px;
    }
    .Gh2{
        font-size: 16px;
    }
    .greetingText{
        width: 390px;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 24px;
    }
}