
.container {
  padding: 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Noto serif JP,sans-serif;
  background-color: rgba(255, 255, 255, .95);
  position: fixed;
  z-index: 999;
  // box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);

}
.nav-links {
  height: 0;
  display: flex;
  list-style: none;
  width: max-content;
  padding-top: 88px;
  font-weight: bold;
  color: #040404;
  cursor: pointer;
}
.nav-link-item{
  position: relative;
}
.nav-list-item { 
  list-style-type: none;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
}
.button{
  display: block; 
  border: none;
  background-color: #fff;
  font-size: 1vw;
  transition: 0.1s;
  text-decoration: none;
  color: #040404;
  @media (max-width: 1740px) {
    font-size: calc(100vw * 18 / 1740);
  }
}
.button:not(:first-child){
  padding: 0 0 0 2rem;
}
.button:hover{
  color: #94233E;
  cursor:pointer;
  transition: 0.2s;
}
.button::before{
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFEF5C;
  display: inline-block;
  position: relative;
  top: 0.2em;
  right: 0.3em;
  transition: 0.1s;
}
.button:hover:before{
  transition: 0.2s;
  background-color: #94233E;
}
.topImage{
  margin-left: 20px;
  margin-top: 64px;
}
.topImage img{
  width: 72%;
  height: auto;
}
.contactContainer{
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 64px;
  display: flex;
}
.contactButton{
  font-size: 1vw;
  @media (max-width: 1740px) {
    font-size: calc(100vw * 16 / 1740);
  }
  margin-left: 24px;
  background-color: #94233E;
  color: #fff;
  width: 5rem;
  height: 1.6rem;
  display: block;
  text-decoration: none;
  padding-top: 8px;
  border-radius: 1rem;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .5);
  transition: .2s;
}
.contactButton:hover{
  transition: .2s;
  transform: translateY(3px);
  box-shadow:none;
}
.dropdown_itemlist{
  background-color: #94233E;
  width: 280px;
  margin-top: 24px;
  border-radius: 8px;
}
.dropdown_item{
  padding: 20px;
  font-size: 0.7rem;
  color: #fff;
  border-radius: 8px;
  border: #94233E solid 1px;
  text-decoration: none;
  display: inline-block;
  }
.dropdown_item:hover{
  background-color: #FFFFED;
  color: #040404;
  border: 1px solid #040404;
}
.accordion{
  display: none;
}
.menuButtonContainer {
  display: none;
  height: 0;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48px;
  right: 40px;
}
.menuToggle {
  display: none;
}
.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 40px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menuButton::before {
  content: '';
  margin-top: -10px;
}

.menuButton::after {
  content: '';
  margin-top: 10px;
}

.menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

.menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.accordion{
  background-color: #fff;
  font-size: 16px;
  padding: 80px 20px 16px 20px;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  transform: translate(-300%);
}
@media(max-width:1199px) {
  .hidden{
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  .nav-links{
    display: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 88px;
    height: fit-content;
  }

  .accordion h2{
    padding-bottom: 16px;
  }
  .accordionButton{
    background-color: #fff;
    border: none;
  }
  .container{
    display: block;
    width: 100vw;
    height: 96px;
    padding: 0;
    overscroll-behavior-y: auto;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
  }
  .contactContainer{
    display: none;
    margin: 0 auto;
    padding: 0;
  }
  .topImage img{
    width: 180px;
    height: auto;
  }
  .topImage{
    margin-left: 24px;
    margin-top: 32px;
    width: 180px;
  }
  .contactButton{
    width: 200px;
    height: 40px;
    display: block;
    padding-top: 8px;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    // margin: 32px auto;
  }
  .button{
    font-size: 24px;
    margin-top: 40px;
  }
  .menuButtonContainer {
    display: flex;
  }
  .menuToggle ~ .accordion{
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
  }
  .menuToggle:checked ~ .accordion{
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }
}