
.container {
  padding: 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Noto serif JP,sans-serif;
  background-color: rgba(255, 255, 255, .95);
  position: fixed;
  z-index: 999;
  // box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);

}
.nav-links {
  height: 0;
  display: flex;
  list-style: none;
  width: max-content;
  padding-top: 88px;
  font-weight: bold;
  color: #040404;
  cursor: pointer;
}
.nav-link-item{
  position: relative;
}
.nav-list-item { 
  list-style-type: none;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
}
.button{
  display: block; 
  border: none;
  background-color: #fff;
  font-size: 1vw;
  transition: 0.1s;
  text-decoration: none;
  color: #040404;
  @media (max-width: 1740px) {
    font-size: calc(100vw * 18 / 1740);
  }
}
.button:not(:first-child){
  padding: 0 0 0 2rem;
}
.button:hover{
  color: #94233E;
  cursor:pointer;
  transition: 0.2s;
}
.button::before{
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFEF5C;
  display: inline-block;
  position: relative;
  top: 0.2em;
  right: 0.3em;
  transition: 0.1s;
}
.button:hover:before{
  transition: 0.2s;
  background-color: #94233E;
}
.topImage{
  margin-left: 20px;
  margin-top: 64px;
}
.topImage img{
  width: 72%;
  height: auto;
}
.contactContainer{
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 64px;
  display: flex;
}
.contactButton{
  font-size: 1vw;
  @media (max-width: 1740px) {
    font-size: calc(100vw * 16 / 1740);
  }
  margin-left: 24px;
  background-color: #94233E;
  color: #fff;
  width: 5rem;
  height: 1.6rem;
  display: block;
  text-decoration: none;
  padding-top: 8px;
  border-radius: 1rem;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .5);
  transition: .2s;
}
.contactButton:hover{
  transition: .2s;
  transform: translateY(3px);
  box-shadow:none;
}
.dropdown_itemlist{
  background-color: #94233E;
  width: 280px;
  margin-top: 24px;
  border-radius: 8px;
}
.dropdown_item{
  padding: 20px;
  font-size: 0.7rem;
  color: #fff;
  border-radius: 8px;
  border: #94233E solid 1px;
  text-decoration: none;
  display: inline-block;
  }
.dropdown_item:hover{
  background-color: #FFFFED;
  color: #040404;
  border: 1px solid #040404;
}
.accordion{
  display: none;
}
@media(max-width:1199px) {
  .nav-links{
    display: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 88px;
    height: fit-content;
  }
  .accordion{
    display: block;
    font-size: 16px;
    margin: 80px auto;
    padding-bottom: 16px;
    width: 80%;
  }
  .accordion h2{
    padding-bottom: 16px;
  }
  .accordionButton{
    background-color: #fff;
    border: none;
  }
  .container{
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overscroll-behavior-y: auto;
    background-color: rgba(255, 255, 255, 1);
  }
  .contactContainer{
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .topImage img{
    width: 180px;
    height: auto;
  }
  .topImage{
    margin-left: 24px;
    margin-top: 24px;
  }
  .contactButton{
    width: 200px;
    height: 40px;
    display: block;
    padding-top: 8px;
    font-size: 16px;
    border-radius: 20px;
    margin: 32px auto;
  }
  .button{
    font-size: 24px;
    margin-top: 40px;
  }
}

.humButton{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#57a2c7;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.humButton span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background: #fff;
    width: 45%;
  }

.humButton span:nth-of-type(1) {
  top:15px; 
}

.humButton span:nth-of-type(2) {
  top:23px;
}

.humButton span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.humButton.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.humButton.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.humButton.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}