.container{
    font-family: Noto Sans JP,sans-serif;
    width: 100%;
    height:auto;
    background-color: #FFFFED;
    color: #040404;
    padding-bottom: 80px;
}
.h2{
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
    padding: 3rem 0 3rem;
    border-bottom: #c2c2c2 solid 1px;
}
.h2Container{
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
}
.newscontainer{
    margin: auto;
    width: 60%;
    max-width: 1000px;
}
li{
    list-style: none;
}
.newslistchild{
    border-bottom: #c2c2c2 solid 1px;
    display: flex;
    padding: 1.6rem 0 1.6rem;
    max-width: 1000px;
    text-decoration: none;
    position: relative;
}
.newslistchild::before{
    background: #94233E;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}
.newslistchild:hover::before{
    transform-origin: center top;
    transform: scale(1, 1);
}

.newslistchild p{
    padding: 0.4rem 0 0 1rem;
    font-size: 0.8rem;
    color: #040404;
}
.newslistchild h3{
    padding: 0.4rem 0 0 1rem;
    color: #040404;
    font-size: 0.8rem;
}
.newslistchild h4{
    color: #fff;
    background-color: #94233E;
    border-radius: 2rem;
    padding: 0.4rem 1.6rem;
    font-size: 0.8rem;
}
.newsList{
    margin: 0;
    padding: 0;
}
@media(max-width:899px){
    .newslistchild{
        margin: 16px auto; 
        display: grid;
        grid-template-columns:0.5fr 1.5fr; 
        grid-template-rows:0.4fr 1.6fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "a b b"
          "c c c"
          "c c c"; 
    }
    .container{
        height: auto;
        padding-bottom: 40px;
    }

    .newslistchild h4{
        width: 64px;
        height: 19px;
        grid-area: a;
        text-align: center;
        font-size: 12px;
        padding: 0;
    }
    .newslistchild p{
        grid-area: b;
        padding:0 1rem 1rem;
        font-size: 12px;
    }
    .newslistchild h3{
        grid-area: c;
        padding: 0.2rem 0 0 1rem;
        font-size: 16px;
        word-wrap: break-word;
    }

    .h2{
        font-size: 16px;
        padding: 32px 0 32px;
        text-align: center;
    }
    .h2Container{
        width: 64%;
    }
    .newscontainer{
        width: 64%;
    }
}
