.h2{
    font-family: Noto Sans JP,sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 3.2rem;
    color: #040404;
    display: inline-block;
    font-size: 1.6rem;

}
.wrapper{
    text-align: center;
    margin: 16rem 0 auto;
    max-width: 100%;
}
.katudou{
    text-decoration: none;
    color: #fff;
    background: #94233E;
    font-weight: bold;
    font-family: Noto Sans JP,sans-serif;
    border-radius: 48px;
    padding: 20px 36px 20px 36px;
    margin: 1.6rem auto;
    text-align: center;
    display: block;
    width: 16rem;
    // box-shadow: 2px 3px 2px 0 rgb(0 0 0 / 50%);
    transition: 0.2s;
    border: 2px solid #fff;
}
.katudou:hover{
        transition: 0.2s;
        // transform: translateY(3px);
        box-shadow: none;
        border: 2px solid #94233E;
        background-color: #fff;
        color: #94233E;
}
.container{
    margin-bottom: 8rem;
}
@media(max-width:1199px){
    .wrapper{
        margin: 40px auto;
    }
    .h2{
        font-size: 16px;
        line-height: 32px;
    }
    .katudou{
        padding: 8px;
        margin: 24px auto;
        width: 160px;
    }
    .container{
        margin-bottom: 80px;
    }
}