.Gcontainer{
    height: 464px;
    width: 100%;
    background-color: #FFFFED;
    position: relative;
}
.inchoImage{
    display: block;
    width: 160px;
    height: auto;
    margin-left: 80px;
}
.Gh1{
    font-family: Noto Serif JP,sans-serif;
    font-size: 40px;
    padding-top: 80px;
}
.pagehead{
    width: fit-content;
    display: flex;
    position: absolute;
    top: 176px;
    right: 0;
    left: 0;
    margin: 34px auto;
    justify-content: space-around;
}
.supportContainer{
    max-width: 600px;
    margin: 80px auto;
    font-family: Noto Sans JP,sans-serif;
}
.supportContainer p{
    font-size: 16px;
    line-height: 32px;
}
.supportContainer h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.supportContainer h4{
    margin-top: 80px;
    font-size: 16px;
    margin-bottom: 24px;
}
.supportContainer aside{
    line-height: 32px;
    font-size: 16px;
}
.supportContainer a{
    font-size: 16px;
    color: #EEC0C0;
    &:hover{
        color: #94233E;
    }
}

.supportImgCat{
    display: block;
    margin-top: 40px;
    margin-left: 64px;
}
@media (max-width:1199px){
    .syusidog_image{
        width: 246px;
        height: auto;
        margin: 0;
    }
    .pagehead{
        margin: 0 auto;
        flex-direction: column-reverse;
        top: 148px;
    }
    .Gcontainer{
        height: 336px;
    }
    .Gh1{
        font-size: 24px;
        padding-top: 24px;
        text-align: center;
    }
    .Gh2{
        font-size: 16px;
        text-align: center;
    }
    .Gh22{
        font-size: 16px;
        text-align: center;
    }
    .greetingText{
        width: 390px;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 24px;
    }
    .supportImgCat{
        width: 246px;
        height: auto;
        margin: 0;
    }
    .supportContainer{
        width: 390px;
        padding-left: 20px;
        padding-right: 20px;
    }
}