  .topimage h1{
    font-size: 56px;
    padding: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    // color: #242422;
    // background-color: #fff;
    width: fit-content;
  }
  .top_text_box{
    font-size: 40px;
    font-family: Noto sans JP,sans-serif;
    z-index: 10;
    position: absolute;
    top: 14rem;
    left: 7rem;
    height: fit-content;
    width: fit-content;
  }
  .top_text_box h2{
    font-size: 32px;
    font-weight: 400;
    padding: 16px;
    // color: #242422;
    // background-color: #fff;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    width: fit-content;
  }
  .topimage{
    padding-top: 15.3vh;
  }
  .topdog{
    padding-top: 208px;
    margin: 0 auto;
    display: block;
    width: 100vw;
    height: calc(100vh/0.98);
    object-fit:fill;
  }
  .background{
    background-image: url(../images/topinu2.webp);
    width: 100%;
    height: 88vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media(max-width:1199px){
    .topimage{
      display: flex;
      flex-direction: column-reverse;
      padding-top: 11.5vh;
    }
    .topdog{
      margin: 0 auto;
      height: auto;
      padding: 0;
    }
    .top_text_box{
      width: fit-content;
      margin:232px auto;
      height: auto;
      background-color: initial;
      left: 5rem;
      top: 10rem;
      // position: unset;
    }
    .top_text_box h1{
      font-size: 32px;
      margin-top: 20px;
      padding: 0;
      color: #fff;
      text-shadow: 1px 1px 10px #000;
      background-color: inherit;
    }
    .top_text_box h2{
      font-size: 16px;
      font-weight: 500;
      margin-top: 16px;
      padding: 0;
      color: #fff;
      text-shadow: 1px 1px 10px #000;
      background-color:inherit ;
    }
    .background{
      height: 90vh;
    }

  }