  .topimage h1{
    font-size: 40px;
    padding-top: 40px;
    padding-left: 40px;
    font-weight: 700;
    color: #242422;
  }
  .topdog{
    padding-top: 208px;
    margin: 0 auto;
    display: block;
    width: 100vw;
    height: calc(100vh/0.98);
    object-fit:fill;
  }
  .top_text_box{
    font-size: 40px;
    font-family: Noto sans JP,sans-serif;
    z-index: 10;
    position: absolute;
    background-color: #fff;
    top: 173px;
    height: 320px;
    margin: 5rem;
    width: 520px;
  }
  .top_text_box h2{
    font-size: 24px;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 40px;
    color: #242422;
  }

  @media(max-width:1199px){
    .topimage{
      display: flex;
      flex-direction: column-reverse;
      padding-top: 24vh;
    }
    .topdog{
      margin: 0 auto;
      height: auto;
      padding: 0;
    }
    .top_text_box{
      width: fit-content;
      margin: 0 auto;
      height: auto;
      background-color: initial;
      position: unset;
      margin-bottom: 80px;
    }
    .top_text_box h1{
      font-size: 24px;
      margin-top: 20px;
      padding: 0;
    }
    .top_text_box h2{
      font-size: 16px;
      margin-top: 16px;
      padding: 0;
    }

  }